<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

    <!-- Icon -->
    <link rel="icon" href="/img/Logo-no-slogan-1.ico" type="image/x-icon" />

    <!-- Inline Styles-->
    <style>
      .main-content,
      .footer-container,
      .hero-banner {
        max-width: 1528px;
        margin: 0 auto;
        padding: 0 16px;
      }
    </style>
  </head>
  <body>
    <!-- Header Area (Top bar + Navbar) -->
    <div class="container">
      <!-- Top bar -->
      {{> topbar}}
      
      <!-- Header / Navbar -->
      {{> header}}
    </div>

    <!-- Main Content -->
    <div class="main">
      {{{body}}}
    </div>

    <!-- Footer Section -->
    {{> footer}}

    <script src="/js/main.js"></script>
  </body>
</html>